header {
    background-color:#B11114;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left : 64px;
    padding-right: 63px;
}
* {
    margin: 0;
}
.nav-style {
    display: flex;
    gap: 32px;
}
.room-link {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
}
.aulas {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
}
.mainpage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
.conte-link {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.somos-link {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
}
.main-room {
    display: flex;
    flex-direction: column ;
    align-items: center;
    flex-direction: column;
    
    justify-content: space-between;
}
.head-link {
    color: white;
    font-weight: 700;
    font-size: 80px;
}
main {
    flex-grow: 1;
    background-color: #880002;
}
.svg-link {
    s
}